<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>D3 Practice Main page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css">
    <link rel="stylesheet" href="../styles/dropdown.css">
  </head>
  <body>
    <nav class="level">
      <p class="level-item has-text-centered">
        <img src="https://cms-assets.tutsplus.com/uploads/users/442/posts/22935/preview_image/8778.png" alt="" style="height: 150px;">
      </p>
    </nav>
    <div class="container has-text-centered">
      <ul>
        <li><a href="/views/BarGraph1">BarGraphs1</a></li>
        <li><a href="/views/BarGraph2">BarGraphs2</a></li>
        <li><a href="/views/BarGraph3">BarGraphs3</a></li>
        <li><a href="../../scatters">Scatters</a></li>
      </ul>
    </div>

  </body>
</html>
